/* PARA MAIN: HOME */
.cargar-foto{
    display: none;
}
.container-user-photo {
    display:flex;
    align-items: flex-end;
}
.photo-user{  /* borde de la foto del usuario*/
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--white);
    border: 0.3rem solid var(--gray);
    display:flex;
    justify-content: center;
}
.user-photo{ /* foto del usuario */
 height: 85%;
 width: auto;
 background-color: transparent;
}
.photo-change-user {
    margin-left: -3rem;
}
.photo-change-user, .photo-change-post, .button-emoji{ /* borde del boton para cambiar la foto del usuario y de su post*/
    border-radius: 50%; 
    width: 3rem;
    height: 3rem; 
    display: flex;
    background-color: var(--orange1);
    justify-content: center;
    align-items: center; 
    border: none;
}
.button-emoji{
    font-size: 2rem;
    padding: 0px 0px;
}

.change-photo, .upload-photo { /* iconos para cambiar la foto del usuario y de su post*/
    height: 60%;
    width: auto;
    background-color: transparent; 
    filter: invert();
}

.information-user{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    justify-content: center;
}
.data-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.old-publication, .publication{
    width: 28rem;
    height: 20rem;
    background-color: var(--gray);
    margin: 2rem 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    
}

.old-publication {
    padding: 0rem;
    background-color: var(--gray);
}

.comment, .old-comment{
    height: 85%;
    width: auto;
    border: none;
    border-radius: 1.5rem;
}
.old-comment{
    border-radius: 0rem;
    margin: 0px;
}

.user-name-post{
    background: var(--orange2);  
    /* margin-top: 0px; */
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    padding:1.3rem 1rem;
    color: var(--white);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

.container-button, .emojis{
   
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin: 2px 5px ;
}
.emojis{
    padding: 0px;
}
.post-button, .comment-button{
    border-radius: 0.75rem;
    border: none;
    background: var(--orange2);
    color:var(--white);
    font-size: 1.5rem;
}
.comment-button{
   color: var(--orange1) ;
   background-color: transparent;
}
.all-publications{
    display: flex;
    align-items: center;
    flex-direction: column;
}
