#container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% 5%;
}

.image-login {
    border-radius: 80%;
    background-color: rgb(250, 244, 244);
    width: 30%;
    height: 30%;
}

#login-message {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 0 2rem 0;
}

.form-login{
    width: 70%;
    align-items: flex-start;
    margin: 0 5%;
}

.form-login input {
    background: #FFFFFE;
    border-radius: 15px;
    border: 0;
    padding: 0.5rem 1rem;
    width: 100%;
}

#login-email-error, #login-password-error {
    visibility: hidden;
    margin: 0 0 1rem 0;
}

.form-login h1{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--white);
}

.form-login p {
    font-size: 1.5rem;
    text-align: center;
}

#login-button {
    width: 100%;
    margin: 0 0 2.5rem 0;
}

.logo-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

.image-google, .image-facebook{
    border-radius: 50%;
    width: 8%;
    height: 8%; 
}

@media screen and (min-width: 768px) {
    #container-login {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 9rem 3rem
    }
    
    .form-login {
        width: 45%;
    }
}