
.enabled {
    display: block;
  }
  
  .disabled {
    display: none;
  }
  
.container-login {
    flex-direction: column;
    justify-content: center;
    /*background-color: rgb(129, 120, 120);*/
    
    border-radius: 15px;
    margin-right: 5%;
    margin-left: 5%;
    padding: 5%;

   }



.image-login {
    display: flex;
    border-radius: 20px;
    width: 90%;
    height: 90%;
    /*background-color: rgb(196, 202, 202);*/
    
}

.h2-login{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 180%;

    
    
}

.form-login{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    /*background-color: rgb(248, 149, 20);*/
    margin-right: 5%;
    margin-left: 5%;
}


.h1-login{
    margin-top: 20%;
    margin-bottom: 5%;
    text-align: center;
   
    font-size: 200%;
}
.p-login {
    text-align: center;
    font-size: 10px; 
}