/*
#login-message {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 0 2rem 0;
}

.form-login{
    width: 70%;
    align-items: flex-start;
    margin: 0 5%;
}

.form-login input {
    background: #FFFFFE;
    border-radius: 8px;
    border: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0 0 2rem 0;
}

.form-login h1{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--white);
}

.form-login p {
    font-size: 1.5rem;
    text-align: center;
}

.form-login img {
    width: 20px;
    height: auto;
    border-radius: 50%;
    background: var(--white);
}

#login-button {
    width: 100%;
    margin: 0 0 2.5rem 0;
}

.logo-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

#button-google {
    background: var(--orange2);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 768px) {
    #container-login {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 9rem 3rem
    }
    
    .form-login {
        width: 30%;
    }
}
*/