:root {
    --black: #131313;
    --orange1: #F25F4C;
    --orange2: #FF8906;
    --gray: #9D9D9F ;
    --gray2: #32333B;
    --white:  #FFFFFE;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Bordes de las cajas por dentro*/
    color: var(--gray);
    font-family: 'Barlow', sans-serif;
}
  
html {
   font-size: 15px;
   background-color: var(--black); 
}

header {
    position:fixed;
    width: 100%;
    background-color: var(--orange2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 2;
    visibility: hidden;
}

header img {
    height: 50px;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo a {
    font-size: 2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
}

button {
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: 0;
    border-radius: 4px;
    color: var(--black);
    background-image: url(https://c.tenor.com/CjAocmPf3CcAAAAC/upreach-animation.gif);
    font-weight: bold;
    cursor: pointer;
}

.welcome, #register, #login, #home, .profile, .error404, .error-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 body, .welcome, #register, #login, .profile , .error404 {
    height: 100vh;
}

.background-logo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0 0 1rem 0;
    background-image: url(https://c.tenor.com/CjAocmPf3CcAAAAC/upreach-animation.gif);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo {
    width: 96%;
    border-radius: 50%;
    background-color: var(--white);
}

#logout {
    display: inline-flex;
    align-items: center;
    background: none;
    border: solid 1px var(--white);
    width: fit-content;
}

#logout img {
    filter: invert();
    height: 15px;
}

#brand{
    font-size: 3rem; 
    color: transparent;
    background-image: url(https://c.tenor.com/CjAocmPf3CcAAAAC/upreach-animation.gif);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
}

.info-app {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-message {
    line-height: 2rem;
    text-align: justify;
    margin: 1rem 0 1rem 0;
    color: var(--gray);
    font-weight: 400;
}

.info-app p, #logout span {
    color: var(--white);
    font-weight: 700;
}

#welcome-register-button, #welcome-login-button {
    margin: 1rem 0 1rem 0;
}

.register-form h1, .form-login h1 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    color: var(--white);
}

.register-form, .error-text, .form-login, .information-user, .container-publications, .top-user-info, .about-user{
    width: 75%;
}

.register-form p, #form-login p{
    margin: 0 0 1rem 0;
}

.register-form p:last-of-type, #form-login p:last-of-type{
    text-align: center;
}

.register-form input, .form-login input {
    background: var(--white);
    border-radius: 4px;
    border: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0 0 1rem 0;
}

#login-button, #register-button {
    width: 100%;
    margin: 0 0 2rem 0;
}

.register-form a, .form-login a {
    color: var(--orange2);
}

.try {
    text-align: center;
}

#button-google {
    margin: 0 0 2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--orange2);
    background: transparent;
    border: 1px solid var(--orange2);
}

#button-google img {
    height: 15px;
}

#home, .profile {
    padding: 5rem 0 0 0;
}

#name-profile, .name-profile, .subtitle {
    color: var(--white);
    font-weight: bold;
}

#user-profile {
    font-size: 0.8rem;
}

.container-info {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.container-user-photo {
    margin: 1rem 0;
}

.photo-user { 
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--white);
    border: 0.3rem solid var(--gray);
    display: flex;
    justify-content: center;
}

.photo-user img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.go-profile {
    width: 100%;
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: center;
}

.go-profile a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.go-profile img {
    filter: invert();
    height: 30px;
}

.form-publication {
    width: 100%;
    height: fit-content;
    background: var(--gray);
    border-radius: 4px;
    margin: 1rem 0 2rem 0;
    padding: 1rem;
}

#comment {
    max-width: 100%;
    min-width: 100%;
    max-height: 6rem;
    min-height: 6rem;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    padding: 1rem;
}

.container-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-button {
    padding: 0.5rem 1rem; 
    border-radius: 4px;
    background: var(--orange2);
    border: none;
    color: var(--black); /* REVISAR SEGÚN EL RESTO DE BOTONES */
}

.publication {
    background: var(--white);
    margin: 2rem 0;
    border-radius: 4px;
}

.publication-text, .user-name-post {
    color: var(--black);
}

.publication-text, .see-likes {
    margin: 1rem 0;
    padding: 0 1rem;
}

.user-name-post {
    border-radius: 4px 4px 0 0;
    padding: 1rem; /* REVISAR DETALLES SEGÚN EL RESTO*/ 
}

.button-like, .edit-button, .delete-button {
    margin: 0;
    border-radius: 0;
    width: 100%
}

.button-like {
    background: transparent;
    color: var(--orange2);
    border: solid 0.5px var(--orange2);
}

.edit-button {
    background: var(--orange2);
    border-radius: 0 0 0 4px;
}

.delete-button {
    background: var(--gray);
    border-radius: 0 0 4px 0;
}

.active-user-buttons {
    display: flex;
    justify-content: space-around;
}

.cargar-foto{
    display: none;
}

.photo-change-post, .photo-change-user { /* borde del boton para cambiar la foto del usuario y de su post*/
    border-radius: 50%; 
    width: 2rem;
    height: 2rem; 
    display: flex;
    background-color: var(--orange1);
    justify-content: center;
    align-items: center; 
    border: none;
}

.photo-change-user {
    position: relative;
    bottom: 1.3rem;
    left: 4rem;  
}

.top-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 1rem 0
}

.user-location {
    display: flex;
}

.user-description, .user-election, .user-genre, .email-profile {
    margin: 0 0 1rem 0
}

.modal-card p, .modal-post-edit p {
    margin: 0 0 1.5rem 0;
    font-size: 2rem;
    color: var(--black);
    text-align: center;
    font-weight: bold;
}

.modal-card input, select, .modal-post-edit input {
    width: 100%;
    margin: 0 0 1rem 0;
    border: none;
    background: rgba(169, 169, 169, 0.25);
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.modal-post-edit input {
    height: 4rem;
}

.background-modal-edit, .background-modal, .background-modal-delete {
    height: 100vh;
    width: 100vw;
    background:rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-card, .modal-error, .modal-post-edit, .modal-delete { 
    width: 80%;
    height: auto;
    background: var(--white);
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal-delete p, .login-error, .register-error{
    color: var(--black);
    font-size: 1.1rem;
    margin: 5px;
}

.btns-delete {
    display: flex;
    justify-content: space-around;
}

.error404 img {
    width: 80%
}

.error-text h2 {
    text-align: center;
    margin: 1rem 0;
}

/* */

.change-photo, .upload-photo { /* iconos para cambiar la foto del usuario y de su post*/
    height: 60%;
    width: auto;
    background-color: transparent; 
    filter: invert();
}

@media screen and (max-width: 768px) {
    #logout span {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    #login, #register, .welcome, #home, .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .information-user {
        align-self: flex-start;
        width: 30%;
    }

    .container-publications, .about-user {
        width: 50%;
    }
    
    .background-logo{
        width: 20rem;
        height: 20rem;
    }

    .info-app, .top-user-info {
        width: 40%;
    }

    .form-login, #register-form {
        width: 30%;
    }

    .modal-card, .modal-error, .modal-post-edit, .modal-delete { 
        width: 40%;
    }
}