#register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    
}

form button {
    background: #FF8906;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: 0;
    border-radius: 15px;
    color: #FFFFFE;
}

input {
    background: #FFFFFE;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0.25rem
}

.image-register{
        display: flex;
        border-radius: 80%;
        background-color: rgb(250, 244, 244);
        width: 30%;
        height:30%;
        /*background-color: rgb(196, 202, 202);*/
        
}