.container-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15% 5%;
}

.register-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 5%;
}

.register-form h1 {
    font-size: 2rem;
    color: var(--white);
    margin: 1.5rem 0;
}

.register-message {
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
}

.register-form input {
    background: #FFFFFE;
    border-radius: 15px;
    border: 0;
    padding: 0.5rem 1rem;
    width: 100%;
}

#user-name, #user-username {
    margin: 0 0 2rem 0;
}

.image-register{
    display: flex;
    border-radius: 80%;
    background-color: rgb(250, 244, 244);
    width: 30%;
    height: 30%;
}

#email-register-error, #password-register-error {
    visibility: hidden;
    margin: 0 0 1rem 0;
}

#register-button {
    width: 100%;
    margin: 0 0 2.5rem 0;
}

@media screen and (min-width: 768px) {

    .container-register{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 9rem 3rem
    }
    
    .register-form {
        width: 45%;
    }
} 