.register-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 5%;
}

.register-form h1 {
    font-size: 2rem;
    color: var(--white);
    margin: 1.5rem 0;
}

.register-form p {
    font-size: 1.5rem;
}

.register-message {
    margin: 0 0 2rem 0;
}

.register-form input {
    background: #FFFFFE;
    border-radius: 8px;
    border: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0 0 2rem 0;
}

#register-button {
    width: 100%;
    margin: 0 0 2.5rem 0;
}

.background-modal-error{
    height: 100vh;
    width: 100vw;
    background:rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-error {
    height: 25%;
    width: 80%;
    background: #fffffe;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-error, .register-error {
    font-size: 1.5rem;
    color: var(--black);
    margin: 5px;
}

@media screen and (min-width: 768px) {

    #container-register{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 9rem 3rem
    }
    
    #register-form {
        width: 30%;
    }
} 