:root {
    --black: #0F0E17;
    --orange1: #F25F4C;
    --orange2: #FF8906;
    --gray: #A7A9BE;
    --white:  #FFFFFE;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Bordes de las cajas por dentro*/
    color: var(--gray)
}
  
html {
   font-size: 62.5%; /*Reseteando los tamaños de fuente para que 1 rem sea igual a 10px*/
   background-color: var(--black);
}
  
body {
   font-family: 'Barlow', sans-serif;
   height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--orange2);
}

#containerNav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--orange2);
}

#containerNav p {
    font-size: 2rem;
}

#containerNav path, #check {
    display: none;
}

.menu__logo {
    height: 7rem;
    display: flex;
    align-items: center;
    font-size: 3.6rem;
    background-color: var(--orange2);
}

a {
    text-decoration: none;
    color: var(--white);
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.menu__logo img {
    height: 100%;
    background-color: transparent;
}

button {
    background: #FF8906;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: 0;
    border-radius: 15px;
    color: #FFFFFE;
    cursor: pointer;
}

footer {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .checkbtn {
        display: block;
    }

    #containerNav path {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    #containerNav ul {
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #FFA644;
        width: 100%;
        height: 100vh;
        right: 0;
    }

    #containerNav ul li {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #containerNav ul li:hover {
        background: var(--orange2);
    }

    #check:checked ~ ul {
        left: 0;
    }
}